<div class="signup">
  <div class="register">
    <div class="form-container">
      <h2>Login</h2>
      <form #userLogin="ngForm" (ngSubmit)="Login(userLogin.value)" class="login-form">
        <div class="input-form">
          <input type="email" id="email" placeholder="Email" required />
        </div>
        <div class="input-form">
          <input type="password" id="password" placeholder="Password" required/>
        </div>
        <button type="submit">Login</button>
        <p class="toggle-form"><a routerLink="/register">Not registered? Click here to register</a></p>
      </form>
    </div>
  </div>
</div>