<div class="container">
  <h2>
    Products <a class="button" routerLink="/admin/add-product">Add Product</a>
  </h2><br>
  <p *ngIf="message!=undefined" style="background-color: green;padding: 10px;color: #fff;">{{message}}</p>
  <table border="1" width="100%">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Color</th>
        <th>Image</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products" style=" text-align: center;">
        <td>{{ item?.name }}</td>
        <td>{{ item?.price }}</td>
        <td>{{ item?.category }}</td>
        <td>{{ item?.color }}</td>
        <td><img src="{{ item?.url }}" alt="" style="width:50px; height: 50px;" srcset=""></td>
        <td>{{item?.description}}</td>
        <td>
            <a routerLink="/admin/edit-product/{{item?.id}}"><mat-icon class="icon">edit</mat-icon></a>
            <a style="cursor: pointer;" (click)="deleteProduct(item.id)"><mat-icon class="icon">delete</mat-icon></a>
      </td>
      </tr>
    </tbody>
  </table>
</div>
