<div class="container">
  <div class="row">
    <div class="form-container">
      <form
        #updateProduct="ngForm"
        (ngSubmit)="UpdateProduct(updateProduct.value)"
        class="register-form"
      >
        <h2>Update Product</h2>
        <div class="input-form">
          <input
            type="text"
            id="name"
            name="name"
            ngModel="{{ product?.name }}"
            placeholder="Enter Product Name"
            required
          />
        </div>
        <div class="input-form">
          <input
            type="text"
            id="price"
            name="price"
            ngModel="{{ product?.price }}"
            placeholder="Enter Product Price"
            required
          />
        </div>
        <div class="input-form">
          <input
            type="text"
            id="category"
            name="category"
            ngModel="{{ product?.category }}"
            placeholder="Enter Product Category"
            required
          />
        </div>
        <div class="input-form">
          <input
            type="text"
            id="color"
            name="color"
            ngModel="{{ product?.color }}"
            placeholder="Enter Product Color"
            required
          />
        </div>
        <div class="input-form">
          <input
            type="url"
            id="url"
            name="url"
            ngModel="{{ product?.url }}"
            placeholder="Enter Image Url"
            required
          />
        </div>
        <div class="input-form">
          <textarea
            name="description"
            id="description"
            cols="30"
            rows="10"
            ngModel="{{ product?.description }}"
          ></textarea>
        </div>
        <div class="float">
          <div class="float-left"><button type="submit">Update</button></div>
          <div class="float-right">
            <a class="cancel" routerLink="/admin/products">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
